@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Black.woff2') format('woff2'), url('./fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Bold.woff2') format('woff2'), url('./fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-BlackItalic.woff2') format('woff2'), url('./fonts/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-BoldItalic.woff2') format('woff2'), url('./fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('./fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-ExtraLight.woff2') format('woff2'), url('./fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'), url('./fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'), url('./fonts/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Italic.woff2') format('woff2'), url('./fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Light.woff2') format('woff2'), url('./fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-MediumItalic.woff2') format('woff2'), url('./fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Medium.woff2') format('woff2'), url('./fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-LightItalic.woff2') format('woff2'), url('./fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2'), url('./fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2'), url('./fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'), url('./fonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Thin.woff2') format('woff2'), url('./fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-ThinItalic.woff2') format('woff2'), url('./fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Montserrat';
}

.font-8px {
    font-size: 8px;
}

.font-10px {
    font-size: 10px;
}

.font-12px {
    font-size: 12px;
}

.font-18px {
    font-size: 18px;
}


/* fonts */

.square-sm {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}


/* radius */

.shadow-none {
    box-shadow: none;
}

.shadow-sm {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}


/* button */

.btn-page {
    background-color: #ca3233;
    color: #fff;
    font-weight: 500;
}

.btn-page2 {
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    font-weight: 500;
}

.btn-page:hover,
.btn-page:focus {
    color: #fff;
}

.btn-sm1 {
    border-radius: 4px;
    padding: 3.2px 12px;
}

.text-unset {
    text-transform: unset;
}

.navbar .navbar-header .navbar-brand {
    min-width: inherit;
}

.navbar .navbar-brand .avatar {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    background-color: #ff756f;
    display: inline-block;
}

.navbar .navbar-brand .noti .number {
    background-color: #d25151;
    padding: 0px 4px;
    font-size: 12px;
}

.navbar .navbar-brand .noti i {
    font-size: 18px;
}

.navbar .navbar-collapse ul li.active {
    position: relative;
    background-color: #fff;
}

.navbar .navbar-collapse ul li.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    border-bottom: 3px solid #ca3233;
}

.navigation li.active>.has-ul .icon-arrow-down22 {
    transform: rotate(180deg);
}

.sidebar .sidebar-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4px 0px 4px 20px;
}


/* START SIDER BAR RIGHT */

.sidebar-right {
    background-color: #e5e5e5;
}


/* END SIDER BAR RIGHT */


/* TABLE PROJECT */

.table-responsive::-webkit-scrollbar {
    height: 10px;
    background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #ff756f;
}

.table-responsive::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.table thead tr>th {
    font-size: 12px;
    padding: 10px 12px;
}

.table-bordered tbody tr td {
    border-right: none;
    border-left: none;
    font-size: 12px;
}

.table tbody tr td .status .stt-name .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.table tbody tr td .status .stt-name .dot.in-progress {
    background-color: #00afe5;
}

.table tbody tr td .status .stt-name .dot.draft {
    background-color: #ca3233;
}

.table tbody tr td .status .stt-name .dot.qa-check {
    background-color: #ffc91d;
}

.table tbody tr td .status .stt-name .dot.finished {
    background-color: #22b63a;
}

.table tbody tr td .progress {
    border-radius: 30px;
    height: 12px;
}

.footer-project .controls-btn {
    margin-left: 80px;
}

.footer-project .show-upload {
    padding-left: 80px;
    background-color: #f6ebcd;
}

.footer-project .show-upload p {
    font-size: 14px;
    margin-bottom: 0;
}


/* START LOGIN */

.login {
    /* min-height: 100vh; */
    background-color: #670c11;
    overflow-x: hidden;
}

.login .login-info .select2 .select2-selection {
    background-color: #f6edce;
    color: #091300;
    border-radius: 5px;
    border: none;
    padding: 0;
    height: 28px;
    line-height: 28px;
}

.login-page .select2-dropdown {
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid #091300;
    background-color: #fff;
    width: 300px!important;
}

.login-page .select2-dropdown .select2-results__options {
    border-radius: 8px;
    padding: 0;
}

.login-page .select2-results__option[aria-selected=true] {
    background-color: #cc3234;
    color: #091300;
}

.login .login-info {
    min-height: 100vh;
}

.login .login-info .login-content {
    margin-top: 100px;
}

.login .login-info .login-content h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}

.login .login-info .login-content p {
    font-size: 15px;
}

.login .login-info .logo {
    font-size: 40px;
}

.login .login-form .form-group .form-control {
    padding: 12px 12px 12px 50px;
    border-radius: 30px;
    border: 2px solid #afb0b0;
    font-weight: 600;
}

.login .login-form .form-group .form-control::placeholder {
    color: #afb0b0;
}

.login .login-form .form-group.has-feedback-left .form-control-feedback {
    left: 10px!important;
    top: -2px;
}

.login .login-form .form-group.has-feedback-left .form-control-feedback i {
    font-size: 18px;
    color: #afb0b0;
}

.login .login-form .form-group .form-control:focus {
    border-color: #670c11;
}

.login .login-form .form-group .form-control:focus+.form-control-feedback i {
    color: #670c11;
}

.login .login-form .form-group .checker span {
    border-color: #375dab;
}

.login .login-form .form-group .checker span.checked {
    background-color: #375dab;
    color: #fff;
}

.login .login-form form .btn {
    border-radius: 30px;
}

.login .login-form form .or-login .btn {
    background-color: #fff;
    border: 2px solid #afb0b0;
}


/* END LOGIN */


/* START DASBOARD */


/* .dashboard .header .header-right .pick-date .form-group .btn,
.dashboard .header .header-right .pick-date .form-group .btn:hover {
    background-color: #fff!important;
} */

.dashboard {
    margin-top: -40px;
}

.dashboard .dashboard-content .dashboard-file,
.dashboard .dashboard-content .dashboard-chart {
    min-height: 280px;
}

.dashboard .dashboard-content .dashboard-file .drop-file button {
    width: 100%;
    padding: 5px 2px;
    border-top: 1px solid #dee2e6;
    border-radius: 0;
}

.dashboard .dashboard-content .dashboard-file .drop-file button i {
    font-size: 8px;
}

.dashboard .dashboard-content .dashboard-file .drop-file-upload {
    border: 1px dashed #dee2e6;
}

.dashboard .dashboard-content .dashboard-chart .quantity .item.bg-1 {
    background-color: #f6ebcd;
}

.dashboard .dashboard-content .dashboard-chart .quantity .item.bg-2 {
    background-color: #ff756f;
}

.dashboard .dashboard-content .dashboard-chart .quantity .item.bg-3 {
    background-color: #ca3233;
}

.dashboard .dashboard-content .dashboard-chart .quantity .item.bg-4 {
    background-color: #680107;
}

.dashboard .dashboard-content .dashboard-chart .quantity-list-icon {
    position: absolute;
    top: 0;
    right: -15px;
}

.dashboard .dashboard-content .dashboard-list .table-bordered tbody tr td {
    font-size: 10px;
}

.dashboard .dashboard-footer a span.quantity {
    position: absolute;
    bottom: 7px;
    right: 5px;
}


/* END DASBOARD */


/* START PROJECT DETAL */


/* overview */

.projects-overview .overview-content .content-detail .tabbable .nav li,
.projects-tasks .tasks-content .tabbable .nav li {
    width: auto;
}

.projects-overview .overview-content .content-detail .tabbable .nav li a,
.projects-tasks .tasks-content .tabbable .nav li a {
    text-align: left;
    padding: 9px 0px;
    font-size: 15px;
}

.projects-overview .overview-content .content-detail .tabbable .nav li.active a,
.projects-tasks .tasks-content .tabbable .nav li.active a {
    color: #ca3233;
}

.projects-overview .overview-content .content-detail .tabbable .nav li.active a::after,
.projects-tasks .tasks-content .tabbable .nav li.active a::after {
    background-color: #ca3233;
}


/* /end  overview*/


/* tasks */

.projects-tasks .tasks-content .table tbody tr td {
    padding: 10px 20px;
}

.projects-tasks .tasks-content .modal-tasks .tab-content .form-control:focus {
    border: 1px solid;
}

.projects-tasks .tasks-content .modal-tasks .tab-content .form-control {
    background-color: #ddd;
}

.projects-tasks .tasks-content .modal-tasks .tab-content .form-control-feedback i,
.projects-tasks .tasks-content .modal-tasks .tab-content .form-control,
.projects-tasks .tasks-content .modal-tasks .tab-content .form-control::placeholder {
    color: #888;
    font-weight: 500;
}


/* /end tasks */


/* END PROJECT DETAIL */


/* START TEAM  */


/* team job board */

.team-job .team-job-content form .form-control::placeholder {
    color: #cccccc;
}

.team-job .team-job-content form .form-control,
.team-job .team-job-content form .bootstrap-select .btn {
    border: none;
    padding-left: 0;
    color: #cccccc;
    font-weight: 500;
    border-radius: 0;
    border-bottom: 1px solid #e5e5e5;
}

.team-job .team-job-content form .bootstrap-select .btn:focus,
.team-job .team-job-content form .bootstrap-select .btn:focus:hover {
    box-shadow: none;
    background-color: #fff;
}

.team-job .team-job-content form .bootstrap-select.pick-money,
.team-job .team-job-content form .bootstrap-select.pick-money .btn {
    width: auto!important;
}

.team-job .team-job-content form .bootstrap-select .dropdown-menu .dropdown-menu li.selected a {
    background-color: #ca3233;
}


/* /end job board */


/* END TEAM */


/* RESONSIVE */

@media (max-width:1200px) {
    .table {
        width: 200%;
        max-width: 200%;
    }
}

@media (max-width:991px) {
    .table {
        width: 250%;
        max-width: 250%;
    }
}

@media (max-width:769px) {
    .navbar-collapse {
        width: 100%;
    }
    .navbar .navbar-collapse .navbar-nav {
        margin-left: 0!important;
    }
    .navbar .navbar-collapse ul li.active::before {
        width: 100%;
    }
    .footer-project .controls-btn {
        margin-left: 0px;
    }
    .footer-project .show-upload {
        padding-left: 10px;
        background-color: #f6ebcd;
    }
    .content {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .dashboard {
        margin-top: 0px;
    }
}